body {
    background: #36383F;
    color: #e9ecef;
}

.navbar-custom {
    background-color: #2f3136;
}

.button-menu-mobile {
    background-color: #2f3136;
}

.topbar .topbar-left {
    background: #202225;
}

.side-menu {
    background: #202225;
}

.footer {
    background-color: #2f3136;
}

.card {
    background: #2c2f33;
}

.btn-primary {
    background-color: #7289DA!important;
}


.badge-primary {
    background-color: #7289da!important;
}