body {
    background: #36383F;
    color: #e9ecef;
}

.navbar-custom {
    background-color: #2f3136;
}

.button-menu-mobile {
    background-color: #2f3136;
}

.topbar .topbar-left {
    background: #202225;
}

.side-menu {
    background: #202225;
}

.footer {
    background-color: #2f3136;
}

.card {
    background: #2c2f33;
}

.btn-primary {
    background-color: #7289DA!important;
}


.badge-primary {
    background-color: #7289da!important;
}

.form-control {
    color: #dee2e6 !important;
    background: #40444b!important;
}
.form-control:focus{
    background: #40444b !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input::-webkit-clear-button
{
    display: none;
    -webkit-appearance: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
    color: #dee2e6;
}
input[type=date]::-webkit-calendar-picker-indicator:hover {
    background: none;
    color: #dee2e6;
}

input[type=date] {
    -moz-appearance:textfield;
}
